<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="Container">
      <div class="navbar-header">
        <a href=" "> Quizz program</a>
        </div>
        <ul>
          <li><a href="/Science"> Sciencequizz</a></li>
          <li><a href="/History"> Historyquizz</a></li>
          <li><a href="/English"> Englishquizz</a></li>
          </ul>
        <ul class ='nav navbar-nav navbar-right'>
          <li><a href=" ">Signup</a><li>
          <li><a href="/accounts/Login ">Login</a><li>
          <li><a href="/accounts/Logout ">Logout</a><li>
            </ul>
            </nav>
            {% block body_block %}
            {% endblock %}
